{
    "parser": "@babel/eslint-parser",
    "plugins": [
        "react",
        "react-native"
    ],
    "parserOptions": {
        "ecmaFeatures": {
            "jsx": true,
            "modules": true
        },
        "babelOptions": {
            "presets": ["@babel/preset-react"]
         },
        "requireConfigFile": false,
        "sourceType": "module",
        "ecmaVersion": 8,
        "no-use-before-define": [
            "error",
            {
                "variables": false
            }
        ]
    },
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "airbnb-base"
    ],
    "rules": {
        "import/no-unresolved": "off",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "no-use-before-define": "off",
        "react/prop-types": 0,
        "linebreak-style": 0,
        "consistent-return": 0,
        "no-underscore-dangle": 0,
        "no-console": 0
    }
}
