<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>131154843814-j3960vcd6a2vsfe3devkeo59fvpkp0ss.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.131154843814-j3960vcd6a2vsfe3devkeo59fvpkp0ss</string>
	<key>API_KEY</key>
	<string>AIzaSyA3yof1vEiS2KCrzV_VT30iSQm2iqx-qzg</string>
	<key>GCM_SENDER_ID</key>
	<string>131154843814</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.enrollmentApp</string>
	<key>PROJECT_ID</key>
	<string>agricat-a2dba</string>
	<key>STORAGE_BUCKET</key>
	<string>agricat-a2dba.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:131154843814:ios:05d9dd83afed8225323c67</string>
</dict>
</plist>